@font-face {
    font-family: "Time Normal";
    src: url(fonts/time/TimeNormal/Time\ Normal.ttf);
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background-color: #060303;
}
#calcContainer{
    margin-top: 100px;
    display: flex;
    width: 500px;
    height: 600px;
    border: 10px solid rgb(70, 70, 70);
    flex-wrap: wrap;
    background-color: black;
  }

#display {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: right;
    font-size: 60px;
    font-family: "Time Normal";
    letter-spacing: -8px;
    color: white;
    margin-bottom: 10px;
    background-color: gray;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.operand, #decimal {
    background-color: #024cb7;
    color: white;
}

.operand:active, #decimal:active {
    background-color: #023986;
}

.operator {
    background-color: #bc5b3d;
    color: white;
}

.operator:active {
    background-color: #7c3c28
}

.equals {
    background-color: #bc5b3d;
    color: white;
}

.equals:active {
    background-color: #7c3c28;
    color: white;
}

.clear, .sign, .percent {
    background-color: #095d4c;
    color: white;
}

.clear:active, .sign:active, .percent:active {
    background-color: #06382e;
}

#firstRow {
    width: 100%;
}

#secondRow {
    width: 100%;
}

#thirdRow {
    width: 100%;
}

#fourthRow {
    width: 100%;
}

#fifthRow {
    width: 100%;
}

button {
    width: 24%;
    height: 100px;
    font-size: 40px;
    border-radius: 10px;
    border-color: black;
    margin: 1px;
}

#zero {
    width: 49%;
}
